@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&display=swap');

* {
    font-family: var(--font-padrao);
    padding: 0px;
    margin: 0px;
    
}

:root {
    --background-color: black;
    --cor0: #D7D8CA;
    --cor1: #82ff72;
    --cor2: #10101A;
    --cor3: #57f15c;

    --font-padrao: 'Archivo', Arial, Verdana, Helvetica, sans-serif;
}

body {
    display: grid;
    place-items: center; /* Centraliza horizontalmente e verticalmente */
    height: 100vh;
    margin: 0;
    background-color: black;
}

span.white {
    color: var(--cor0);
}

span.green {
    color: var(--cor1);
}

header {
    background-color: var(--background-color);
    padding-bottom:  15px;
    padding-top: 15px;
   
    color: var(--cor0);
}

header > h1 {
    font-size: 25px;
    margin-left: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
    
    
}
header > nav {
    float: right;
    margin-right: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    color: #C0FF72;
}

header > nav > a {
    color: white;
    text-decoration: none;
    gap: 5px;
    margin-right: 5px;
}

header > nav > a:hover {
    border: 1px solid;
    color: var(--cor1);
    padding: 5px 5px 5px 5px;
    border-radius: 10px 0px 10px 10px;

}

main {
    background-color: var(--background-color);
    min-width: 350px;
   max-width: 1250px;
}


.container {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    gap: 120px; /* Espaço entre o texto e a imagem */
    flex-wrap: wrap;
}

h1 {
    font-size: 3rem;
    color: white;
}

img {
    width: 550px; /* Ajuste conforme necessário */
    min-width: 320px;
}

#sec-one {
    color: white;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
}
    
#sec-one > p {
    font-size: 1.6rem;
    padding-bottom: 60px
    
}

#sec-one > p > a {
    margin-right: 10px;
}

#blackA {
    width: 200px;
    height: 50px;
    padding: 20px;
    background-color: black;
    border: 2px solid;
    border-radius: 10px;
    color: var(--cor1);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px; /* Igual à altura do botão */
    cursor: pointer;
    
}

#greenA {
   width: 200px;
   height: 50px;
   padding: 20px;
   background-color: black;
   border: 2px solid;
   border-radius: 10px;
   color: var(--cor1);
   text-decoration: none;
   font-size: 16px;
    font-weight: bolder;
   text-align: center;
   line-height: 50px; /* Igual à altura do botão */
   cursor: pointer;
}

main > p {
    color: white;
}

section > p {
    color: white;
}
div > p {
    color: white;
}

#sec-two > h1 {
    text-align: center;
    padding-bottom: 20px;
}

#sec-two > p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 150px;
}

h2 {
    justify-content: center;
    font-size: 2rem;
    color: white;
    font-weight: normal;
}
.container-h2 {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 30vh; /* Faz com que o container ocupe a altura total da tela */
}

#gradientdiv{
    background-image: linear-gradient(to right, var(--cor0), var(--cor1), var(--cor2));
    border: solid;
    color: #C0FF72;
    border-radius: 20px;
    text-align: center;
}
#gradientdiv > #numeros {
    display: flex;
    justify-content: space-around;
    color: black;
    font-weight: bolder;
    font-size: 6rem;    
}

#frases {
    display:flex;
    justify-content: space-around;
    color: black;
    font-size: 1.6rem;
    font-weight: bold;       
}

.container {
    display: flex;  /* Ativa o flexbox */
    justify-content: space-between; /* Separa as colunas */
    gap: 20px; /* Espaçamento entre colunas */
}

.coluna {
    flex: 1; /* Faz com que ambas ocupem o mesmo espaço */
    display: flex;
    flex-direction: column; /* Organiza as divs em coluna */
    gap: 10px; /* Espaçamento entre os itens */
}

.box {
    padding: 20px;
    background-color: lightgray; /* Apenas para visualização */
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

.caixa {
    border: 2px solid;
    border-radius: 15px;
    color: #57f15c;
    margin-left: 100px;
    margin-right: 100px; 
    text-align: justify;
    
}

h3 {
    background: linear-gradient(90deg, var(--cor0), var(--cor1), var(--cor3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 1.3rem;
}

.caixa > p {
    mask-size: 900px;
    font-size: 1.1rem;
    justify-content: center;
    padding-left: 75px;
    padding-right: 45px;

}


   
footer {
   
    margin-top: 150px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    color: #C0FF72;
    margin-bottom: 50px;
}

footer > div > a {
    color: white;
    text-decoration: none;
}

footer > div > a:hover {
    border: 1px solid;
    color: var(--cor1);
    padding: 5px 5px 5px 5px;
    border-radius: 10px 0px 10px 10px;}